.vscode
.husky

*.env
*.log
.DS_Store

frontend
benchmarks

contracts/node_modules
contracts/artifacts
contracts/out
contracts/cache
contracts/cache_forge
contracts/cache_hardhat
contracts/docs
contracts/artifacts
contracts/typechain-types

contracts/addresses-local.json
contracts/addresses-testnet.json
contracts/candidates.json

render/.astro
render/dist
render/node_modules
