.vscode
.husky

*.env
*.log
.DS_Store

**/node_modules
**/dist

frontend/
benchmarks/

contracts/artifacts
contracts/out
contracts/cache
contracts/cache_forge
contracts/cache_hardhat
contracts/docs
contracts/artifacts
contracts/typechain-types

contracts/addresses-local.json
contracts/addresses-testnet.json
contracts/candidates.json

render/.astro
