.vscode
.husky

*.env
*.log
.DS_Store
.turbo

frontend/
benchmarks/

contracts/artifacts
contracts/out
contracts/cache
contracts/cache_forge
contracts/cache_hardhat
contracts/docs
contracts/artifacts

render/.astro
