---
import Navbar from "../components/nav/Navbar.astro"
import { cn } from "../utils/cn"
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
        <title>Graviola</title>
    </head>

    <body
        class={cn(
            "w-screen h-screen min-w-screen min-h-screen",
            "overflow-x-hidden",
            "text-sm font-content",
            "text-light-text dark:text-dark-text bg-light-bgPrimary dark:bg-dark-bgPrimary"
        )}
    >
        <Navbar isMobile={false} />
        <main class="max-lg:px-6 max-lg:py-2 lg:px-8 lg:py-4">
            <slot />
        </main>
    </body>
</html>
