.breathing-effect {
    animation: breathing 2s infinite alternate;
}

@keyframes breathing {
    from {
        box-shadow: 0px 0px 24px 6px var(--rarity-color);
    }

    to {
        box-shadow: 0px 0px 28px 16px var(--rarity-color);
    }
}

.card {
    margin: 0 auto;
    padding: 2em;
    width: 286px;
    border-radius: 10px;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 90deg;
    inherits: false;
}

.card::after,
.card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #36ca6c;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    box-sizing: content-box;
}

.card-init::after,
.card-init::before {
    background-color: #2f2f2f;
}

.card-loading::before {
    background-color: #2f2f2f;
}

.card-loading::after {
    --color: #36ca6c;
    background: conic-gradient(
        from var(--angle),
        transparent 70%,
        var(--color)
    );
    animation: spin 8s infinite cubic-bezier(0.35, 0.45, 0.65, 0.55);
}

@keyframes spin {
    0% {
        --angle: 90deg;
    }
    50% {
        --angle: 270deg;
    }
    100% {
        --angle: 450deg;
    }
}

@keyframes spin {
    0% {
        --angle: 90deg;
    }

    100% {
        --angle: 450deg;
    }
}

@keyframes breathe {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes colors {
    0% {
        background-color: rgba(140, 140, 155, 0.8);
    }
    20% {
        background-color: rgba(54, 202, 108, 0.8);
    }
    40% {
        background-color: rgba(37, 99, 235, 0.8);
    }
    60% {
        background-color: rgba(147, 51, 234, 0.8);
    }
    80% {
        background-color: rgba(239, 68, 68, 0.8);
    }
    100% {
        background-color: rgba(140, 140, 155, 0.8);
    }
}

/* common: "rgba(140, 140, 155, 0.8)",
uncommon: "rgba(54, 202, 108, 0.8)",
rare: "rgba(37, 99, 235, 0.8)",
veryRare: "rgba(147, 51, 234, 0.8)",
legendary: "rgba(239, 68, 68, 0.8)", */
