---
import type { Card } from "../../types/Card"
import { cn } from "../../utils/cn"
import { convertCidToUrl } from "../../utils/convertCidToUrl"
import { getRarityBorderStyles } from "../../web3"

interface Props {
    card: Card
    breathingEffect: boolean
}

const {
    card: { image, rarity },
    breathingEffect,
} = Astro.props

const { style, className } = getRarityBorderStyles(rarity, breathingEffect)
---

<div
    style={style}
    class={cn(
        "flex w-36 h-36 shadow-sm",
        "p-1 rounded-xl bg-light-bgDark dark:bg-dark-bgDark border",
        "border-light-border dark:border-dark-border select-none",
        className
    )}
>
    <img
        class={cn("w-full h-full rounded-lg")}
        crossorigin="anonymous"
        src={convertCidToUrl(image)}
        alt="Card image"
    />
</div>
