---

---

<div
    class:list={[
        "mb-8",
        "max-sm:flex-col max-sm:gap-3 max-sm:mt-3",
        "p-3 rounded-xl border border-light-border dark:border-dark-border",
    ]}
>
    <span class="px-2">Showing:</span>
    <select
        name="owner"
        class:list={[
            "p-1.5",
            "rounded-lg border-r-8 border-transparent outline outline-2 outline-transparent",
            "bg-light-border/50 dark:bg-dark-border",
            "focus:outline-blue-500",
        ]}
        hx-get="/partials/drops?page=0"
        hx-target="#card-collection"
        hx-replace="outerHTML"
    >
        <option value="*">everyone's drops</option>
        <option id="address-option" value="0x" disabled>my drops</option>
    </select>
</div>

<script>
    const address = "0x4EEf993E6C1E67c76512B18A13D57671E1f78c24"

    const addressOption = document.getElementById(
        "address-option"
    ) as HTMLOptionElement
    addressOption.value = address
    addressOption.disabled = false
</script>
