---
import type { Card } from "../../types/Card"
import CardImage from "./CardImage.astro"
import CardInfo from "./CardInfo.astro"
import "./card.css"

interface Props {
    card: Card
    breathingEffect?: boolean
}

const { card, breathingEffect } = Astro.props
---

<div
    class:list={[
        "flex flex-col justify-between items-center",
        "gap-3 p-3 rounded-xl",
        "border border-light-border dark:border-dark-border",
    ]}
>
    <CardImage card={card} breathingEffect={breathingEffect ?? false} />
    <CardInfo card={card} />
</div>
