---

---

<div
    class:list={[
        "mb-8",
        "max-sm:flex-col max-sm:gap-3 max-sm:mt-3",
        "p-3 rounded-xl border border-light-border dark:border-dark-border",
    ]}
>
    <span class="px-2">Showing:</span>
    <select
        name="owner"
        class:list={[
            "p-1.5",
            "rounded-lg border-r-8 border-transparent outline outline-2 outline-transparent",
            "bg-light-border/50 dark:bg-dark-border",
            "focus:outline-blue-500",
        ]}
        hx-get="/partials/drops?page=0"
        hx-target="#card-collection"
        hx-replace="outerHTML"
    >
        <option value="*">everyone's drops</option>
        <option id="address-option" value="0x" disabled>my drops</option>
    </select>
</div>

<script>
    import { subscribeKeys } from "nanostores"
    import { $user } from "../../store/user"

    subscribeKeys($user, ["address"], ({ address }) => {
        const addressOption = document.getElementById(
            "address-option"
        ) as HTMLOptionElement

        if (address !== "0x") {
            addressOption.value = address
            addressOption.disabled = false
        } else {
            addressOption.disabled = true
        }
    })
</script>
