---
import logo from "../../assets/logo.webp"
---

<a
    class:list={[
        "h-10 px-2 py-1.5 w-fit rounded-xl",
        "hover:bg-accent/25 transition-colors duration-300",
    ]}
    href="/"
>
    <img src={logo.src} width="16" class="inline-block align-middle mb-1" />
    <p
        class:list={[
            "inline-block align-middle",
            "font-semibold font-mono text-accentDark dark:text-accent opacity-100",
            "leading-none",
        ]}
    >
        Graviola
    </p>
</a>
