---
import { cn } from "../../utils/cn"
import Wallet from "./Wallet"
import NavbarLogo from "./NavbarLogo.astro"
import NavElementIcon from "./NavElementIcon.astro"
import NavElementText from "./NavElementText.astro"
import NavList from "./NavList.astro"
import NavToggle from "./NavToggle.astro"
import { links } from "../../utils/links"
import DevWallet from "./DevWallet"
---

<nav
    class:list={[
        "fixed top-0 z-30",
        "bg-light-bgPrimary dark:bg-dark-bgPrimary",
        "w-screen",
        "border-b border-light-border dark:border-dark-border",
    ]}
>
    <div
        class={cn(
            "grid grid-cols-[112px_1fr]",
            "content-center",
            "gap-2",
            "py-2 px-10",
            "max-lg:px-5",
            "max-lg:grid-cols-2",
            "h-14",
            "select-none font-content"
        )}
    >
        <NavbarLogo />
        <NavToggle />

        <NavList>
            <NavElementText title="Generate" url="/generate" />
            <NavElementText title="Drops" url="/drops" />
            <NavElementText title="Keywords" url="/keywords" />
            <NavElementIcon icon="flowbite:github-solid" url={links.repo} />
            <NavElementIcon icon="flowbite:x-solid" url={links.x} />
            <NavElementIcon icon="flowbite:discord-solid" url={links.discord} />

            {import.meta.env.CHAIN_NET === "local" && <DevWallet client:load />}

            <div class="ml-auto max-lg:ml-0">
                <Wallet client:load />
            </div>
        </NavList>
    </div>
</nav>
