---
import NavElementWrapper from "./NavElementWrapper.astro"

interface Props {
    title: string
    url: string
    additionalClasses?: string
}

const { title, url, additionalClasses } = Astro.props
---

<NavElementWrapper additionalClasses={additionalClasses}>
    <a href={url}>{title}</a>
</NavElementWrapper>
