---
import { cn } from "../../utils/cn"

interface Props {
    url?: string
    additionalClasses?: string
}

const { url, additionalClasses } = Astro.props
---

<a
    href={url ? url : "#"}
    class={cn(
        "p-2 rounded-xl",
        "dark:text-dark-textSecondary dark:hover:text-dark-text",
        "max-lg:flex max-lg:w-full max-lg:justify-center",
        "max-lg:bg-light-border max-lg:dark:bg-dark-border",
        "hover:bg-light-text/10 dark:hover:bg-dark-text/10",
        "transition-colors duration-300",
        additionalClasses
    )}
>
    <slot />
</a>
