---
import type { Keyword } from "../../types/Keyword"
import { rarityBoxShadow } from "../../utils/rarity"

interface Props {
    keyword: Keyword
}

const {
    keyword: { name, rarity },
} = Astro.props
---

<div
    class:list={[
        "rounded-xl text-base px-3 py-2 dark:bg-dark-border bg-light-border",
        "shadow-md",
        rarityBoxShadow[rarity],
    ]}
>
    {name}
</div>
