---
// TODO
---

<style>
    .arrow {
        background-color: white;
        height: 50px;
        clip-path: polygon(
            0 45%,
            60% 45%,
            60% 30%,
            100% 50%,
            60% 70%,
            60% 55%,
            0 55%
        );
        min-width: 50px;
        width: 100px;
    }
</style>

<div class="my-10 flex flex-row items-center text-xl bg-blue-500 gap-5">
    <p>370596f5e09cd4cc9e9fc3b1fa151f98</p>
    <div class="arrow"></div>

    <p class="text-sm w-30">
        Generate a minimalistic portrait of a fictional character... The main
        features of this character are:
    </p>
    <div>
        <div class="inline-block pb-0.5 border-b-2 w-24 text-center">blue</div>
        <div class="inline-block pb-0.5 border-b-2 w-24 text-center">
            elephant
        </div>
        <div class="inline-block pb-0.5 border-b-2 w-24 text-center">robot</div>
    </div>
</div>
