---
import { cn } from "../../utils/cn"
interface Props {
    additionalClasses?: string
}

const { additionalClasses } = Astro.props
---

<div
    class={cn(
        "flex justify-between items-center",
        "w-full h-fit p-6 max-sm:p-3 rounded-xl",
        "max-sm:flex-col gap-6",
        "border border-light-border dark:border-dark-border",
        additionalClasses
    )}
>
    <slot />
</div>
