---
import Layout from "../layouts/Layout.astro"
import { getCards, getCardsTotalSupply } from "../web3"
import CardCollection from "../components/card/CardCollection.astro"

export const prerender = false
---

<Layout>
    <main>
        <div class="h-5"></div>
        <div
            class:list={[
                "flex w-full flex-col gap-4 max-w-7xl",
                "max-lg:px-6 max-lg:py-2",
                "lg:px-8 lg:py-4",
            ]}
        >
            <CardCollection />
        </div>
    </main>
</Layout>
