---
import Layout from "../layouts/Layout.astro"
import CardCollection from "../components/card/CardCollection.astro"
import CardCollectionFilterPanel from "../components/card/CardCollectionFilterPanel.astro"
---

<Layout>
    <h3 class="font-semibold font-title text-lg text-center mb-4">Drops</h3>
    <CardCollectionFilterPanel />
    <CardCollection />
</Layout>
