---
import Layout from "../layouts/Layout.astro"
import CardCollection from "../components/card/CardCollection.astro"
import CardCollectionFilterPanel from "../components/card/CardCollectionFilterPanel.astro"

export const prerender = false
---

<Layout>
    <main>
        <div
            class:list={[
                "flex w-full flex-col gap-4 max-w-7xl",
                "max-lg:px-6 max-lg:py-2",
                "lg:px-8 lg:py-4",
            ]}
        >
            <h3 class="font-semibold font-title text-lg text-center">Drops</h3>
            <CardCollectionFilterPanel />
            <CardCollection />
        </div>
    </main>
</Layout>
