---
import Generator from "../components/generator/Generator"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <h3 class="font-semibold font-title text-lg text-center mb-4">
        Cards generator
        <Generator client:load />
    </h3>
</Layout>
