---
import Generator from "../components/generator/Generator.tsx"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <h3 class="font-semibold font-title text-lg text-center mb-4">
        Card Generator
    </h3>
    <Generator client:load />
</Layout>

<script>
    const socket = new WebSocket("ws://localhost:8080")
    socket.addEventListener("message", ({ data }) => console.log(data))
</script>
