---
import CardCarousel from "../components/card/CardCarousel"
import SectionContainer from "../components/main/SectionContainer.astro"
import Layout from "../layouts/Layout.astro"

import { getCards, getCardsTotalSupply } from "../web3"

const CARDS_TO_DISPLAY = 5

const cardsTotalSupply = await getCardsTotalSupply()
const firstCard =
    cardsTotalSupply >= CARDS_TO_DISPLAY
        ? cardsTotalSupply - CARDS_TO_DISPLAY
        : 0
const cards = await getCards(firstCard, cardsTotalSupply)
---

<Layout>
    <div class="flex flex-col justify-center">
        <h1 class="text-accent text-center font-semibold text-3xl py-8">
            Graviola is a community-driven card collection of randomly
            AI-generated characters
        </h1>

        <SectionContainer>
            <p class="text-xl self-start">
                Graviola is a collection that utilizes decentralized and
                trustless solutions to ensure full verifiability and security
                throughout the generation process. The project is governed by a
                community (DAO) that has the power to modify the keyword pool
                used for character generation and adjust the operation of the
                entire Graviola ecosystem.
            </p>
            <CardCarousel cards={cards} client:load />
        </SectionContainer>
    </div>
</Layout>
