---
import SectionContainer from "../components/main/SectionContainer.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <div class="flex flex-col justify-center">
        <h1 class="text-accent text-center font-semibold text-3xl py-8">
            Graviola is a community-driven card collection of randomly
            AI-generated characters
        </h1>

        <SectionContainer>test</SectionContainer>
    </div>
</Layout>
